{"openapi":"3.0.1","info":{"title":"SevOne API Documentation","description":"Supported endpoints by the new RESTful API","version":"2.1.42, Hash: 719f8be"},"servers":[{"url":"http://watto-nms.coc-ibm.com","description":"Generated server url"}],"tags":[{"name":"Policies"},{"name":"Dynamic Plugin"},{"name":"TopNViews"},{"name":"Reports"},{"name":"Background Tasks"},{"name":"Alerts"},{"name":"Users"},{"name":"Objects"},{"name":"Report Attachments StatusMap"},{"name":"StatusMaps"},{"name":"Report Attachments Object Groups"},{"name":"ObjectGroupRules"},{"name":"Report Attachments Objects"},{"name":"StatusMapImages"},{"name":"Peers"},{"name":"Utils"},{"name":"DeviceTypes"},{"name":"Indicators"},{"name":"DeviceGroupRules"},{"name":"Permissions"},{"name":"Metadata Attribute"},{"name":"ObjectGroup"},{"name":"Maintenance Windows"},{"name":"DeviceGroups"},{"name":"Application"},{"name":"WorkHours"},{"name":"Report Attachments Metadata"},{"name":"Authentication"},{"name":"Roles"},{"name":"Run Report Attachments"},{"name":"Tags"},{"name":"Devices"},{"name":"Report Attachments"},{"name":"Plugins"},{"name":"Report Attachments Topology"},{"name":"NetFlow"},{"name":"Topology"},{"name":"Api Keys"},{"name":"Discovery"},{"name":"Report Attachments Performance Metrics"},{"name":"Report Attachments Device Groups"},{"name":"Thresholds"},{"name":"Report Attachments TopN"},{"name":"Report Attachments Group Metrics"},{"name":"Report Attachments Devices"},{"name":"Metadata Namespace"},{"name":"Report Attachments Alerts"},{"name":"Metadata"},{"name":"Report Attachments FlowFalcon"},{"name":"Countries and Timezones"}],"paths":{"/api/v2/{entityType}/{entityId}/metadata":{"get":{"tags":["Metadata"],"summary":"Get Metadata values","description":"This endpoint will get metadata value for entity type (device/object group/device group/object type/indicator type) and entity id","operationId":"getMetadataValue","parameters":[{"name":"entityType","in":"path","description":"Entity Type","required":true,"schema":{"type":"string","enum":["devices","devicegroups","objectgroups","objecttypes","indicatortypes"]}},{"name":"entityId","in":"path","description":"Entity Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"}}}}}}},"put":{"tags":["Metadata"],"summary":"Update Metadata Attributes","description":"This endpoint will delete all metadata values for this entity type and will create the values provided","operationId":"updateMetadata","parameters":[{"name":"entityType","in":"path","description":"Entity Type","required":true,"schema":{"type":"string","enum":["devices","devicegroups","objectgroups","objecttypes","indicatortypes"]}},{"name":"entityId","in":"path","description":"Entity Id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"},"description":"Type of the param is `Map<String, AttributeValues>`, the string key consists of 'namespacename.attributename'"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"}}}}}}},"patch":{"tags":["Metadata"],"summary":"Partially update Metadata Attributes","description":"This endpoint will update the provided metadata values for this entity type","operationId":"partialUpdateMetadata","parameters":[{"name":"entityType","in":"path","description":"Entity Type","required":true,"schema":{"type":"string","enum":["devices","devicegroups","objectgroups","objecttypes","indicatortypes"]}},{"name":"entityId","in":"path","description":"Entity Id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"},"description":"Type of the param is `Map<String, AttributeValues>`, the string key consists of 'namespacename.attributename'"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"}}}}}}}},"/api/v2/{entityType}/{entityId}/metadata/{attributeKey}":{"put":{"tags":["Metadata"],"summary":"Update Metadata Attributes","description":"This endpoint will delete all metadata values for this entity type and attribute and will create the values provided","operationId":"updateMetadataByAttribute","parameters":[{"name":"entityType","in":"path","description":"Entity Type","required":true,"schema":{"type":"string","enum":["devices","devicegroups","objectgroups","objecttypes","indicatortypes"]}},{"name":"entityId","in":"path","description":"Entity Id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"attributeKey","in":"path","description":"AttributeKey","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeValues"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"}}}}}}}},"/api/v2/workhours/{id}":{"get":{"tags":["WorkHours"],"summary":"Get WorkHour by group","description":"Endpoint for retrieving WorkHours info by group","operationId":"getWorkHoursByGroup","parameters":[{"name":"id","in":"path","description":"WorkHour group Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkHoursGroupDto"}}}}}},"put":{"tags":["WorkHours"],"summary":"Update WorkHours","description":"Updates an existing WorkHours","operationId":"updateWorkHoursByGroupId","parameters":[{"name":"id","in":"path","description":"The id of the WorkHours to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkHoursGroupDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkHoursGroupDto"}}}}}},"delete":{"tags":["WorkHours"],"summary":"Delete WorkHour group","description":"Deletes an existing WorkHour group","operationId":"deleteWorkHoursGroupById","parameters":[{"name":"id","in":"path","description":"The id of the WorkHour group to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v2/users/mypreferences/password":{"put":{"tags":["Users"],"summary":"Change user password","description":"Change password for the logged user.","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/topology/constraints/{id}":{"get":{"tags":["Topology"],"summary":"Get constraint","description":"Get the relationship constraint for topology links","operationId":"getConstraint","parameters":[{"name":"id","in":"path","description":"Constraint Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConstraintDto"}}}}}},"put":{"tags":["Topology"],"summary":"Update constraint","description":"Update the relationship constraint for topology links","operationId":"updateConstraintById","parameters":[{"name":"id","in":"path","description":"The id of the Constraint to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConstraintDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConstraintDto"}}}}}},"delete":{"tags":["Topology"],"summary":"Delete constraint","description":"Deletes the relationship constraint for topology links","operationId":"deleteConstraintById","parameters":[{"name":"id","in":"path","description":"The id of the Constraint to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/topnviews/{id}":{"get":{"tags":["TopNViews"],"summary":"Get TopNView","description":"Endpoint for retrieving TopNView info","operationId":"getTopNView","parameters":[{"name":"id","in":"path","description":"TopNView Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNViewDto"}}}}}},"put":{"tags":["TopNViews"],"summary":"Update TopNView","description":"Updates an existing TopNVIew","operationId":"updateTopNViewById","parameters":[{"name":"id","in":"path","description":"The id of the TopNView to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopNViewDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNViewDto"}}}}}},"delete":{"tags":["TopNViews"],"summary":"Delete TopNVIew","description":"Deletes an existing TopNView","operationId":"deleteTopNViewById","parameters":[{"name":"id","in":"path","description":"The id of the TopNView to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/thresholds/flow/{deviceId}/{thresholdId}":{"get":{"tags":["Thresholds"],"summary":"Get a threshold by id","description":"Get threshold","operationId":"getThresholdById","parameters":[{"name":"deviceId","in":"path","description":"The flow device id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"thresholdId","in":"path","description":"The threshold id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ThresholdDto"}}}}}},"put":{"tags":["Thresholds"],"summary":"Update threshold by ID","description":"Update threshold","operationId":"updateThreshold","parameters":[{"name":"deviceId","in":"path","description":"The flow device id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"thresholdId","in":"path","description":"The threshold id to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThresholdDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ThresholdDto"}}}}}},"delete":{"tags":["Thresholds"],"summary":"Delete threshold by Id","description":"Delete a threshold","operationId":"deleteThresholdById","parameters":[{"name":"deviceId","in":"path","description":"The flow device id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"thresholdId","in":"path","description":"The threshold id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/thresholds/flow/{deviceId}/{thresholdId}/{triggerType}/conditions/{conditionId}":{"put":{"tags":["Thresholds"],"summary":"update a condition of a threshold","description":"update a threshold condition","operationId":"updateThresholdConditionById","parameters":[{"name":"deviceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"thresholdId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"triggerType","in":"path","required":true,"schema":{"type":"string","enum":["clear","trigger"]}},{"name":"conditionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThresholdConditionDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ThresholdConditionDto"}}}}}},"delete":{"tags":["Thresholds"],"summary":"delete a condition of a threshold","description":"delete a threshold condition","operationId":"deleteThresholdConditionById","parameters":[{"name":"deviceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"thresholdId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"triggerType","in":"path","required":true,"schema":{"type":"string","enum":["clear","trigger"]}},{"name":"conditionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/reports/{id}":{"get":{"tags":["Reports"],"summary":"Get report","description":"Endpoint for retrieving all report info.","operationId":"getReport","parameters":[{"name":"id","in":"path","description":"Report Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportDto"}}}}}},"put":{"tags":["Reports"],"summary":"Update report","description":"Updates an existing report.","operationId":"updateReportById","parameters":[{"name":"id","in":"path","description":"The id of the report to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportDto"}}}}}},"delete":{"tags":["Reports"],"summary":"Delete report","description":"Deletes an existing report.","operationId":"deleteReportById","parameters":[{"name":"id","in":"path","description":"The id of the report to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/reports/folders/{id}":{"put":{"tags":["Reports"],"summary":"Update report folder","description":"Updates an existing report folder.","operationId":"updateReportFolderById","parameters":[{"name":"id","in":"path","description":"The id of the report folder to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportFolderDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportFolderDto"}}}}}},"delete":{"tags":["Reports"],"summary":"Delete report folder","description":"Deletes an existing report folder.","operationId":"deleteReportFolderById","parameters":[{"name":"id","in":"path","description":"The id of the report folder to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/reports/attachments/{id}":{"get":{"tags":["Report Attachments"],"summary":"Get report attachment","description":"Endpoint for retrieving all report attachment info","operationId":"getReportAttachment","parameters":[{"name":"id","in":"path","description":"Attachment Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentDto"}}}}}},"put":{"tags":["Report Attachments"],"summary":"Update report attachment","description":"Updates an existing report attachment","operationId":"updateReportAttachmentById","parameters":[{"name":"id","in":"path","description":"The id of the reportAttachment to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentDto"}}}}}},"delete":{"tags":["Report Attachments"],"summary":"Delete report attachment","description":"Deletes an existing report attachment","operationId":"deleteReportAttachment","parameters":[{"name":"id","in":"path","description":"The id of the reportAttachment to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/reports/attachments/topology/{id}/visualizations":{"get":{"tags":["Report Attachments Topology"],"summary":"Get attachment visualization settings","description":"Get topology attachment visualization settings","operationId":"getTopologyAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopologyVisualization"}}}}}},"put":{"tags":["Report Attachments Topology"],"summary":"Update visualization settings","description":"Update topology visualization settings","operationId":"updateTopologyAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopologyVisualization"}}}}}}},"/api/v2/reports/attachments/topology/{id}/settings":{"get":{"tags":["Report Attachments Topology"],"summary":"Get attachment settings","description":"Get topology attachment settings","operationId":"getTopologyAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentSettings"}}}}}},"put":{"tags":["Report Attachments Topology"],"summary":"Update attachment settings","description":"Update topology attachment settings","operationId":"updateTopologyAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentSettings"}}}}}},"patch":{"tags":["Report Attachments Topology"],"summary":"Partial update attachment settings","description":"Partial update topology attachment settings","operationId":"partialUpdateTopologyAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentSettings"}}}}}}},"/api/v2/reports/attachments/topology/{id}/resources":{"get":{"tags":["Report Attachments Topology"],"summary":"Get resources","description":"Get Topology resources","operationId":"getTopologyAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentResource"}}}}}},"put":{"tags":["Report Attachments Topology"],"summary":"Update resources","description":"Update Topology resources","operationId":"updateTopologyAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentResource"}}}}}}},"/api/v2/reports/attachments/topology/{id}/filters":{"get":{"tags":["Report Attachments Topology"],"summary":"Get attachment topology filters","description":"Get topology attachment filters","operationId":"getTopologyAttachmentFilters","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentFilters"}}}}}},"put":{"tags":["Report Attachments Topology"],"summary":"Update topology filters","description":"Update topology attachment filters","operationId":"updateTopologyAttachmentFilters","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentFilters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopologyAttachmentFilters"}}}}}}},"/api/v2/reports/attachments/topn/{id}/visualizations":{"get":{"tags":["Report Attachments TopN"],"summary":"Get attachment visualization settings","description":"Get topn attachment visualization settings","operationId":"getTopNAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNVisualization"}}}}}},"put":{"tags":["Report Attachments TopN"],"summary":"Update visualization settings","description":"Update topn visualization settings","operationId":"updateTopNAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopNVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNVisualization"}}}}}},"patch":{"tags":["Report Attachments TopN"],"summary":"Partially update visualization settings","description":"Partial update topn visualization settings","operationId":"partiallyUpdateTopNAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopNVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNVisualization"}}}}}}},"/api/v2/reports/attachments/topn/{id}/time":{"get":{"tags":["Report Attachments TopN"],"summary":"Get topN report attachment","description":"Get topN report attachment time settings","operationId":"getTopNAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSettings"}}}}}},"put":{"tags":["Report Attachments TopN"],"summary":"Update topN report attachment","description":"Update a new topN attachment time settings","operationId":"updateTopNAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSettings"}}}}}}},"/api/v2/reports/attachments/topn/{id}/settings":{"get":{"tags":["Report Attachments TopN"],"summary":"Get attachment settings","description":"Get topn attachment settings","operationId":"getTopNAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNSettings"}}}}}},"put":{"tags":["Report Attachments TopN"],"summary":"Update attachment settings","description":"Update topN attachment settings","operationId":"updateTopNAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopNSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNSettings"}}}}}},"patch":{"tags":["Report Attachments TopN"],"summary":"Partially update attachment settings","description":"Partial update topn attachment settings","operationId":"partiallyUpdateTopNAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopNSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNSettings"}}}}}}},"/api/v2/reports/attachments/topn/{id}/resources":{"get":{"tags":["Report Attachments TopN"],"summary":"Get resources","description":"Get topn resources","operationId":"getTopNAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNResource"}}}}}},"put":{"tags":["Report Attachments TopN"],"summary":"Update resources","description":"Update topn resources","operationId":"updateTopNAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopNResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TopNResource"}}}}}}},"/api/v2/reports/attachments/statusmap/{id}/resources":{"get":{"tags":["Report Attachments StatusMap"],"summary":"Get resources","description":"Get statusmap resources","operationId":"getStatusMapAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusMapAttachmentResource"}}}}}},"put":{"tags":["Report Attachments StatusMap"],"summary":"Update resources","description":"Update statusmap resources","operationId":"updateStatusMapAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusMapAttachmentResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusMapAttachmentResource"}}}}}}},"/api/v2/reports/attachments/performance-metrics/{id}/visualizations":{"get":{"tags":["Report Attachments Performance Metrics"],"summary":"Get attachment visualization settings","description":"Get performance metrics attachment visualization settings","operationId":"getPerformanceMetricsAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsVisualization"}}}}}},"put":{"tags":["Report Attachments Performance Metrics"],"summary":"Update visualization settings","description":"Update performance metrics visualization settings","operationId":"updatePerformanceMetricsAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsVisualization"}}}}}},"patch":{"tags":["Report Attachments Performance Metrics"],"summary":"Partially update visualization settings","description":"Partially update performance metrics visualization settings","operationId":"partiallyUpdatePerformanceMetricsAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsVisualization"}}}}}}},"/api/v2/reports/attachments/performance-metrics/{id}/time":{"get":{"tags":["Report Attachments Performance Metrics"],"summary":"GET time ranges","description":"Get performance metrics time ranges","operationId":"getPerformanceMetricsAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSetting"}}}}}},"put":{"tags":["Report Attachments Performance Metrics"],"summary":"Update time ranges","description":"Update performance metrics time ranges","operationId":"updatePerformanceMetricsAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeSetting"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSetting"}}}}}}},"/api/v2/reports/attachments/performance-metrics/{id}/settings":{"get":{"tags":["Report Attachments Performance Metrics"],"summary":"Get attachment settings","description":"Get performance metrics attachment settings","operationId":"getPerformanceMetricsAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsSettings"}}}}}},"put":{"tags":["Report Attachments Performance Metrics"],"summary":"Update attachment settings","description":"Update performance metrics attachment settings","operationId":"updatePerformanceMetricsAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsSettings"}}}}}},"patch":{"tags":["Report Attachments Performance Metrics"],"summary":"Partially update attachment settings","description":"Partially update performance metrics attachment settings","operationId":"partiallyUpdatePerformanceMetricsAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PerformanceMetricsSettings"}}}}}}},"/api/v2/reports/attachments/performance-metrics/{id}/resources":{"get":{"tags":["Report Attachments Performance Metrics"],"summary":"Get resources","description":"Get performance metrics resources","operationId":"getPerformanceMetricsAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PerformanceMetricsResource"}}}}}}},"put":{"tags":["Report Attachments Performance Metrics"],"summary":"Update resources","description":"Update performance metrics resources","operationId":"updatePerformanceMetricsAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Performance metrics resources","items":{"$ref":"#/components/schemas/PerformanceMetricsResource"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PerformanceMetricsResource"}}}}}}}},"/api/v2/reports/attachments/objects/{id}/visualizations":{"get":{"tags":["Report Attachments Objects"],"summary":"Get attachment visualization settings","description":"Get objects attachment visualization settings","operationId":"getObjectAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentVisualization"}}}}}},"put":{"tags":["Report Attachments Objects"],"summary":"Update visualization settings","description":"Update Objects visualization settings","operationId":"updateObjectAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentVisualization"}}}}}},"patch":{"tags":["Report Attachments Objects"],"summary":"Partially update visualization settings","description":"Partially update objects visualization settings","operationId":"partiallyUpdateObjectAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentVisualization"}}}}}}},"/api/v2/reports/attachments/objects/{id}/settings":{"get":{"tags":["Report Attachments Objects"],"summary":"Get attachment settings","description":"Get Objects attachment settings","operationId":"getObjectAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentSettings"}}}}}},"put":{"tags":["Report Attachments Objects"],"summary":"Update attachment settings","description":"Update Object attachment settings","operationId":"updateObjectAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentSettings"}}}}}}},"/api/v2/reports/attachments/objects/{id}/resources":{"get":{"tags":["Report Attachments Objects"],"summary":"Get resources","description":"Get Objects resources","operationId":"getObjectAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentResource"}}}}}},"put":{"tags":["Report Attachments Objects"],"summary":"Update resources","description":"Update Objects resources","operationId":"updateObjectAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectAttachmentResource"}}}}}}},"/api/v2/reports/attachments/object-groups/{id}/visualizations":{"get":{"tags":["Report Attachments Object Groups"],"summary":"Get attachment visualization settings","description":"Get object group attachment visualization settings","operationId":"getObjectGroupAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupAttachmentVisualization"}}}}}},"put":{"tags":["Report Attachments Object Groups"],"summary":"Update visualization settings","description":"Update object group visualization settings","operationId":"updateObjectGroupAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectGroupAttachmentVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupAttachmentVisualization"}}}}}},"patch":{"tags":["Report Attachments Object Groups"],"summary":"Partially update visualization settings","description":"Partially update object group visualization settings","operationId":"partiallyUpdateObjectGroupAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectGroupAttachmentVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupAttachmentVisualization"}}}}}}},"/api/v2/reports/attachments/object-groups/{id}/resources":{"get":{"tags":["Report Attachments Object Groups"],"summary":"Get resources","description":"Get object group resources","operationId":"getObjectGroupAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupAttachmentResource"}}}}}},"put":{"tags":["Report Attachments Object Groups"],"summary":"Update resources","description":"Update object group resources","operationId":"updateObjectGroupAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectGroupAttachmentResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupAttachmentResource"}}}}}}},"/api/v2/reports/attachments/metadata/{id}/visualizations":{"get":{"tags":["Report Attachments Metadata"],"summary":"Get attachment visualization settings","description":"Get metadata attachment visualization settings","operationId":"getMetadataAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MetadataAttachmentVisualization"}}}}}},"put":{"tags":["Report Attachments Metadata"],"summary":"Update visualization settings","description":"Update Metadata visualization settings","operationId":"updateMetadataAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataAttachmentVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MetadataAttachmentVisualization"}}}}}},"patch":{"tags":["Report Attachments Metadata"],"summary":"Partially update visualization settings","description":"Partially update metadata visualization settings","operationId":"partiallyUpdateMetadataAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataAttachmentVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MetadataAttachmentVisualization"}}}}}}},"/api/v2/reports/attachments/metadata/{id}/resources":{"get":{"tags":["Report Attachments Metadata"],"summary":"Get resources","description":"Get Metadata resources","operationId":"getMetadataAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MetadataAttachmentResource"}}}}}},"put":{"tags":["Report Attachments Metadata"],"summary":"Update resources","description":"Update Metadata resources","operationId":"updateMetadataAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataAttachmentResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MetadataAttachmentResource"}}}}}}},"/api/v2/reports/attachments/group-metrics/{id}/visualization":{"get":{"tags":["Report Attachments Group Metrics"],"summary":"Get group metrics report attachment","description":"Get group metrics attachment visualization settings","operationId":"getGroupMetricsAttachmentVisualization","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMetricsVisualization"}}}}}},"put":{"tags":["Report Attachments Group Metrics"],"summary":"Update group metrics report attachment","description":"Update group metrics attachment visualization settings","operationId":"updateGroupMetricsAttachmentVisualization","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMetricsVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMetricsVisualization"}}}}}}},"/api/v2/reports/attachments/group-metrics/{id}/time":{"get":{"tags":["Report Attachments Group Metrics"],"summary":"Get group metrics report attachment","description":"Get group metrics attachment time settings","operationId":"getGroupMetricsAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSetting"}}}}}},"put":{"tags":["Report Attachments Group Metrics"],"summary":"Update group metrics report attachment","description":"Update group metrics attachment time settings","operationId":"updateGroupMetricsAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeSetting"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSetting"}}}}}}},"/api/v2/reports/attachments/group-metrics/{id}/settings":{"get":{"tags":["Report Attachments Group Metrics"],"summary":"Get group metrics report attachment","description":"Get group metrics attachment settings","operationId":"getGroupMetricsAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMetricsSettingsDto"}}}}}},"put":{"tags":["Report Attachments Group Metrics"],"summary":"Update group metrics report attachment","description":"Update group metrics attachment settings","operationId":"updateGroupMetricsAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMetricsSettingsDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMetricsSettingsDto"}}}}}}},"/api/v2/reports/attachments/group-metrics/{id}/resources":{"get":{"tags":["Report Attachments Group Metrics"],"summary":"Get group metrics report attachment","description":"Get group metrics attachment resources","operationId":"getGroupMetricsAttachment_1","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMetricsResource"}}}}}},"put":{"tags":["Report Attachments Group Metrics"],"summary":"Update group metrics report attachment","description":"Update group metrics attachment resources","operationId":"updateGroupMetricsAttachment","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMetricsResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMetricsResource"}}}}}}},"/api/v2/reports/attachments/flow-falcon/{id}/visualizations":{"get":{"tags":["Report Attachments FlowFalcon"],"summary":"Get attachment visualization settings","description":"Get flow falcon attachment visualization settings","operationId":"getFlowFalconAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FlowFalconVisualization"}}}}}},"put":{"tags":["Report Attachments FlowFalcon"],"summary":"Update visualization settings","description":"Update flow falcon visualization settings","operationId":"updateFlowFalconAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlowFalconVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FlowFalconVisualization"}}}}}},"patch":{"tags":["Report Attachments FlowFalcon"],"summary":"Partially update visualization settings","description":"Partially update flow falcon visualization settings","operationId":"partiallyUpdateFlowFalconAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlowFalconVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FlowFalconVisualization"}}}}}}},"/api/v2/reports/attachments/flow-falcon/{id}/time":{"get":{"tags":["Report Attachments FlowFalcon"],"summary":"GET time ranges","description":"Get flow falcon time ranges","operationId":"getFlowFalconAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSetting"}}}}}},"put":{"tags":["Report Attachments FlowFalcon"],"summary":"Update time ranges","description":"Update flow falcon time ranges","operationId":"updateFlowFalconAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeSetting"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSetting"}}}}}}},"/api/v2/reports/attachments/flow-falcon/{id}/settings":{"get":{"tags":["Report Attachments FlowFalcon"],"summary":"Get attachment settings","description":"Get flow falcon attachment settings","operationId":"getFlowFalconAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FlowFalconSettings"}}}}}},"put":{"tags":["Report Attachments FlowFalcon"],"summary":"Update attachment settings","description":"Update flow falcon attachment settings","operationId":"updateFlowFalconAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlowFalconSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FlowFalconSettings"}}}}}},"patch":{"tags":["Report Attachments FlowFalcon"],"summary":"Partially update attachment settings","description":"Partially update flow falcon attachment settings","operationId":"partiallyUpdateFlowFalconAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlowFalconSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FlowFalconSettings"}}}}}}},"/api/v2/reports/attachments/flow-falcon/{id}/resources":{"get":{"tags":["Report Attachments FlowFalcon"],"summary":"Get resources","description":"Get flow falcon resources","operationId":"getFlowFalconAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FlowFalconResource"}}}}}},"put":{"tags":["Report Attachments FlowFalcon"],"summary":"Update resources","description":"Update flow falcon resources","operationId":"updateFlowFalconAttachmentResources","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlowFalconResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FlowFalconResource"}}}}}}},"/api/v2/reports/attachments/flow-falcon/{id}/filters":{"get":{"tags":["Report Attachments FlowFalcon"],"summary":"Get filters","description":"Get the report attachment filters","operationId":"getFlowFalconAttachmentFilters","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentFilters"}}}}}},"put":{"tags":["Report Attachments FlowFalcon"],"summary":"Update filters","description":"Updates the report attachment filters","operationId":"updateFlowFalconAttachmentFilters","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentFilters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentFilters"}}}}}}},"/api/v2/reports/attachments/devices/{id}/visualizations":{"get":{"tags":["Report Attachments Devices"],"summary":"Get devices report attachment","description":"Get devices attachment visualization settings","operationId":"getDeviceAttachmentVisualization","parameters":[{"name":"id","in":"path","description":"The id of devices report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicesVisualization"}}}}}},"put":{"tags":["Report Attachments Devices"],"summary":"Update devices report attachment","description":"Update devices attachment visualization settings","operationId":"updateDeviceAttachmentVisualization","parameters":[{"name":"id","in":"path","description":"The id of devices report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicesVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicesVisualization"}}}}}}},"/api/v2/reports/attachments/devices/{id}/settings":{"get":{"tags":["Report Attachments Devices"],"summary":"Get devices report attachment","description":"Get devices attachment settings","operationId":"getDeviceAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of devices report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicesSettings"}}}}}},"put":{"tags":["Report Attachments Devices"],"summary":"Update devices report attachment","description":"Update device attachment settings","operationId":"updateDeviceAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of devices report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicesSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicesSettings"}}}}}}},"/api/v2/reports/attachments/devices/{id}/resources":{"get":{"tags":["Report Attachments Devices"],"summary":"Get devices report attachment","description":"Get resources for devices attachment","operationId":"getDeviceAttachment_1","parameters":[{"name":"id","in":"path","description":"The id of devices report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicesResource"}}}}}},"put":{"tags":["Report Attachments Devices"],"summary":"Update devices report attachment","description":"Update devices attachment resources","operationId":"updateDeviceAttachment","parameters":[{"name":"id","in":"path","description":"The id of devices report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicesResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicesResource"}}}}}}},"/api/v2/reports/attachments/devices/{id}/filters":{"get":{"tags":["Report Attachments Devices"],"summary":"Get filters","description":"Get the report attachment filters","operationId":"getDeviceAttachmentFilters","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentFilters"}}}}}},"put":{"tags":["Report Attachments Devices"],"summary":"Update filters","description":"Updates the report attachment filters","operationId":"updateDeviceAttachmentFilters","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentFilters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentFilters"}}}}}}},"/api/v2/reports/attachments/devicegroups/{id}/visualizations":{"get":{"tags":["Report Attachments Device Groups"],"summary":"Get visualization","description":"Get visualization for device groups attachment","operationId":"getDeviceGroupsAttachmentVisualization","parameters":[{"name":"id","in":"path","description":"The id of device groups attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceGroupsVisualization"}}}}}},"put":{"tags":["Report Attachments Device Groups"],"summary":"Update visualization","description":"Update visualization for device groups attachment","operationId":"updateDeviceGroupsAttachmentVisualization","parameters":[{"name":"id","in":"path","description":"The id of device groups attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceGroupsVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceGroupsVisualization"}}}}}}},"/api/v2/reports/attachments/devicegroups/{id}/resources":{"get":{"tags":["Report Attachments Device Groups"],"summary":"Get resources for device groups report attachment","description":"Get resources for device groups attachment","operationId":"getDeviceGroupsAttachment","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceGroupsResource"}}}}}},"put":{"tags":["Report Attachments Device Groups"],"summary":"Update resources","description":"Update resources of device groups report attachment","operationId":"updateDeviceGroupsAttachment","parameters":[{"name":"id","in":"path","description":"The id of device groups attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceGroupsResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceGroupsResource"}}}}}}},"/api/v2/reports/attachments/alerts/{id}/visualizations":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get attachment visualization settings","description":"Get alert attachment visualization settings","operationId":"getAlertAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertAttachmentVisualization"}}}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update visualization settings","description":"Update alert attachment visualization settings","operationId":"updateAlertAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertAttachmentVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertAttachmentVisualization"}}}}}},"patch":{"tags":["Report Attachments Alerts"],"summary":"Partially update visualization settings","description":"Partial update alert attachment visualization settings","operationId":"partiallyUpdateAlertAttachmentVisualizationSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertAttachmentVisualization"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertAttachmentVisualization"}}}}}}},"/api/v2/reports/attachments/alerts/{id}/time":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get alert attachment time settings","description":"Get alert attachment time settings","operationId":"getAlertAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSettings"}}}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update alert attachment time settings","description":"Update alert attachment time settings","operationId":"updateAlertAttachmentTimeSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TimeSettings"}}}}}}},"/api/v2/reports/attachments/alerts/{id}/settings":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get attachment settings","description":"Get alert attachment settings","operationId":"getAlertAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertAttachmentSettings"}}}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update attachment settings","description":"Update alert attachment settings","operationId":"updateAlertAttachmentSettings","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertAttachmentSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertAttachmentSettings"}}}}}}},"/api/v2/reports/attachments/alerts/{id}/resources":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get alert attachment resources","description":"Get alert attachment resources","operationId":"getAlertAttachmentResource","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlertAttachmentResource"}}}}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update alert attachment resource","description":"Update alert attachment resources","operationId":"updateAlertAttachmentResource","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Alert attachment resources","items":{"$ref":"#/components/schemas/AlertAttachmentResource"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlertAttachmentResource"}}}}}}}},"/api/v2/reports/attachments/alerts/{id}/filters":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get filters","description":"Gets the report attachment filters","operationId":"getAlertAttachmentFilters","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentFilters"}}}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update filters","description":"Updates the report attachment filters","operationId":"updateAlertAttachmentFilters","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentFilters"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachmentFilters"}}}}}}},"/api/v2/reports/attachments/alerts/{id}/aggregation":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get attachment aggregation","description":"Get alert attachment aggregation","operationId":"getAlertAttachmentAggregation","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertAttachmentAggregation"}}}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update attachment aggregation","description":"Update alert attachment aggregation","operationId":"updateAlertAttachmentAggregation","parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertAttachmentAggregation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertAttachmentAggregation"}}}}}}},"/api/v2/plugins/objecttypes/{id}":{"put":{"tags":["Plugins"],"summary":"Updates an plugin object type","description":"Endpoint for updating plugin object types","operationId":"updatePluginObjectType","parameters":[{"name":"id","in":"path","description":"The id of the object type to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PluginObjectTypeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PluginObjectTypeDto"}}}}}}},"/api/v2/plugins/indicatortypes/{id}":{"put":{"tags":["Plugins"],"summary":"Updates a plugin indicator type","description":"Endpoint for updating plugin indicator types","operationId":"updatePluginIndicatorType","parameters":[{"name":"id","in":"path","description":"The id of the indicator type to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PluginIndicatorTypeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PluginIndicatorTypeDto"}}}}}}},"/api/v2/permissions/{roleId}/role/{targetRoleId}":{"get":{"tags":["Permissions"],"summary":"Get userrole permissions","description":"Get role's permissions to view/edit other roles and users","operationId":"getRolePermissions_2","parameters":[{"name":"roleId","in":"path","description":"RoleId","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"targetRoleId","in":"path","description":"TargetRoleId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RolePermissionDto"}}}}}},"put":{"tags":["Permissions"],"summary":"Update userrole permissions","description":"Update role's permissions to view/edit other roles and users","operationId":"getRolePermissions","parameters":[{"name":"roleId","in":"path","description":"RoleId","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"targetRoleId","in":"path","description":"TargetRoleId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolePermissionDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RolePermissionDto"}}}}}}},"/api/v2/permissions/{roleId}/page":{"get":{"tags":["Permissions"],"summary":"Get page permissions","description":"Get role's page permissions","operationId":"getPagePermissions","parameters":[{"name":"roleId","in":"path","description":"RoleId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["ALERT_HISTORY_MGMT","ALERT_MGMT","CLUSTER_CONFIG","DEVICE_GROUP_MGMT","DEVICE_MGMT","DISCOVERY_MGMT","FLOWFALCON_PAGE","FLOWMON_CONFIG","INSTANT_GRAPHS_PAGE","INSTANT_STATUS_PAGE","METADATA_MAPPING","METADATA_SCHEMA","NBAR_PAGE","OBJECT_GROUP_MGMT","OBJECT_MGMT","POLLING_CONFIG","PROBE_PROVIS","REPORT_MGMT","ROLE_MGMT","STATUS_MAPS_PAGE","TELEPHONY_PAGE","THRESHOLD_MGMT","TOPN_PAGE","TRAP_MGMT","USER_MGMT","VMWARE_PAGE","XSTATS_CONFIG","SESSION_MGMT","MAINT_WNDW_MGMT"]}}}}}}},"put":{"tags":["Permissions"],"summary":"Update page permissions","description":"Update role's access permissions, the method will replace all existing page permissions with ones passed in the body of the request","operationId":"updatePagePermissions","parameters":[{"name":"roleId","in":"path","description":"RoleId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of page permissions","items":{"type":"string","enum":["ALERT_HISTORY_MGMT","ALERT_MGMT","CLUSTER_CONFIG","DEVICE_GROUP_MGMT","DEVICE_MGMT","DISCOVERY_MGMT","FLOWFALCON_PAGE","FLOWMON_CONFIG","INSTANT_GRAPHS_PAGE","INSTANT_STATUS_PAGE","METADATA_MAPPING","METADATA_SCHEMA","NBAR_PAGE","OBJECT_GROUP_MGMT","OBJECT_MGMT","POLLING_CONFIG","PROBE_PROVIS","REPORT_MGMT","ROLE_MGMT","STATUS_MAPS_PAGE","TELEPHONY_PAGE","THRESHOLD_MGMT","TOPN_PAGE","TRAP_MGMT","USER_MGMT","VMWARE_PAGE","XSTATS_CONFIG","SESSION_MGMT","MAINT_WNDW_MGMT"]}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["ALERT_HISTORY_MGMT","ALERT_MGMT","CLUSTER_CONFIG","DEVICE_GROUP_MGMT","DEVICE_MGMT","DISCOVERY_MGMT","FLOWFALCON_PAGE","FLOWMON_CONFIG","INSTANT_GRAPHS_PAGE","INSTANT_STATUS_PAGE","METADATA_MAPPING","METADATA_SCHEMA","NBAR_PAGE","OBJECT_GROUP_MGMT","OBJECT_MGMT","POLLING_CONFIG","PROBE_PROVIS","REPORT_MGMT","ROLE_MGMT","STATUS_MAPS_PAGE","TELEPHONY_PAGE","THRESHOLD_MGMT","TOPN_PAGE","TRAP_MGMT","USER_MGMT","VMWARE_PAGE","XSTATS_CONFIG","SESSION_MGMT","MAINT_WNDW_MGMT"]}}}}}}}},"/api/v2/permissions/{roleId}/access":{"get":{"tags":["Permissions"],"summary":"Get access permissions","description":"Get role's access permissions","operationId":"getAccessPermissions","parameters":[{"name":"roleId","in":"path","description":"RoleId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["VIEW_NETFLOW","VIEW_REPORTS","MANAGE_REPORTS","VIEW_ALERTS","VIEW_ALERT_HISTORY","MANAGE_ALERTS","RECEIVE_ALERTS","CREATE_DEVS","CREATE_USERS","SYSTEM_ADMIN","MANAGE_METADATA_SCHEMA","EDIT_METADATA_MAPPING","VIEW_LOGDATA","MANAGE_PROBES","MANAGE_API_KEYS","INDICATOR_DATA_INSERT","DISCOVERY_ADMIN","MANAGE_OBJECTS","VIEW_UNMAPPED_FLOW_DEVICES","MANAGE_OBJGROUPS","EDIT_THRESHOLD","VIEW_THRESHOLD","MANAGE_TOPN_VIEWS"]}}}}}}},"put":{"tags":["Permissions"],"summary":"Update access permissions","description":"Update role's access permissions, the method will replace all existing access permissions with one passed in the body of the request","operationId":"updateAccessPermissions","parameters":[{"name":"roleId","in":"path","description":"RoleId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of access permissions","items":{"type":"string","enum":["VIEW_NETFLOW","VIEW_REPORTS","MANAGE_REPORTS","VIEW_ALERTS","VIEW_ALERT_HISTORY","MANAGE_ALERTS","RECEIVE_ALERTS","CREATE_DEVS","CREATE_USERS","SYSTEM_ADMIN","MANAGE_METADATA_SCHEMA","EDIT_METADATA_MAPPING","VIEW_LOGDATA","MANAGE_PROBES","MANAGE_API_KEYS","INDICATOR_DATA_INSERT","DISCOVERY_ADMIN","MANAGE_OBJECTS","VIEW_UNMAPPED_FLOW_DEVICES","MANAGE_OBJGROUPS","EDIT_THRESHOLD","VIEW_THRESHOLD","MANAGE_TOPN_VIEWS"]}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["VIEW_NETFLOW","VIEW_REPORTS","MANAGE_REPORTS","VIEW_ALERTS","VIEW_ALERT_HISTORY","MANAGE_ALERTS","RECEIVE_ALERTS","CREATE_DEVS","CREATE_USERS","SYSTEM_ADMIN","MANAGE_METADATA_SCHEMA","EDIT_METADATA_MAPPING","VIEW_LOGDATA","MANAGE_PROBES","MANAGE_API_KEYS","INDICATOR_DATA_INSERT","DISCOVERY_ADMIN","MANAGE_OBJECTS","VIEW_UNMAPPED_FLOW_DEVICES","MANAGE_OBJGROUPS","EDIT_THRESHOLD","VIEW_THRESHOLD","MANAGE_TOPN_VIEWS"]}}}}}}}},"/api/v2/objectgroups/{id}":{"get":{"tags":["ObjectGroup"],"summary":"Get object group by Id","description":"Gets a single object group by provided Id if it exists","operationId":"getObjectGroupById","parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"includeMembers","in":"query","description":"Determines whether to include members of object groups","required":false,"schema":{"type":"boolean","default":false}},{"name":"localOnly","in":"query","description":"Determines whether to execute distributed request or not","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupDto"}}}}}},"put":{"tags":["ObjectGroup"],"summary":"Update object group","description":"Updates an existing object group","operationId":"updateObjectGroupById","parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectGroupRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupDto"}}}}}},"delete":{"tags":["ObjectGroup"],"summary":"Delete object group","description":"Deletes an existing object group","operationId":"deleteObjectGroupById","parameters":[{"name":"id","in":"path","description":"The id of the object group to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"patch":{"tags":["ObjectGroup"],"summary":"Partially update object group","description":"Updates an existing object group","operationId":"partiallyUpdateObjectGroupById","parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectGroupRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupDto"}}}}}}},"/api/v2/objectgroups/rules/{id}":{"get":{"tags":["ObjectGroupRules"],"summary":"Get object group rule by Id","description":"Gets a single object group rule by provided id if it exists","operationId":"getObjectGroupRule","parameters":[{"name":"id","in":"path","description":"The id of the object group rule","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupRuleDto"}}}}}},"put":{"tags":["ObjectGroupRules"],"summary":"Update object group rule","description":"Updates an existing object group rule","operationId":"updateObjectGroupRule","parameters":[{"name":"id","in":"path","description":"The id of the object group rule to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectGroupRuleDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectGroupRuleDto"}}}}}},"delete":{"tags":["ObjectGroupRules"],"summary":"Delete object group rule","description":"Deletes an existing object group rule","operationId":"deleteObjectGroupRule","parameters":[{"name":"id","in":"path","description":"The id of the object group rule to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/metadata/namespace/{id}":{"get":{"tags":["Metadata Namespace"],"summary":"Get Metadata Namespace","description":"Endpoint for retrieving Metadata Namespace","operationId":"getNamespace","parameters":[{"name":"id","in":"path","description":"Namespace Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NamespaceDto"}}}}}},"put":{"tags":["Metadata Namespace"],"summary":"Update Metadata Namespace","description":"Updates an existing Metadata Namespace","operationId":"updateNamespaceById","parameters":[{"name":"id","in":"path","description":"The id of the Namespace to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NamespaceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NamespaceDto"}}}}}},"delete":{"tags":["Metadata Namespace"],"summary":"Delete Metadata Namespace","description":"Deletes an existing Metadata Namespace","operationId":"deleteNamespaceById","parameters":[{"name":"id","in":"path","description":"The id of the Namespace to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/metadata/attribute/{id}":{"get":{"tags":["Metadata Attribute"],"summary":"Get Metadata Attribute","description":"Endpoint for retrieving Metadata Attribute","operationId":"getAttribute","parameters":[{"name":"id","in":"path","description":"Attribute Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttributeDto"}}}}}},"put":{"tags":["Metadata Attribute"],"summary":"Update Metadata Attribute","description":"Updates an existing Metadata Attribute","operationId":"updateAttributeById","parameters":[{"name":"id","in":"path","description":"The id of the Attribute to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttributeDto"}}}}}},"delete":{"tags":["Metadata Attribute"],"summary":"Delete Metadata Attribute","description":"Deletes an existing Metadata Attribute","operationId":"deleteAttributeById","parameters":[{"name":"id","in":"path","description":"The id of the deleteAttributeById to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v2/maintenancewindows/{id}":{"get":{"tags":["Maintenance Windows"],"summary":"Get maintenance window","description":"Gets a specific maintenance window by ID","operationId":"getMaintenanceWindowById","parameters":[{"name":"Date-Format","in":"header","description":"The date format for begin and end dates: UNIX_TIMESTAMP_SECONDS, UNIX_TIMESTAMP_MILLISECONDS, ISO8601_SECONDS, ISO8601_MILLISECONDS","required":false,"schema":{"type":"string","default":"UNIX_TIMESTAMP_MILLISECONDS"}},{"name":"id","in":"path","description":"The ID of the maintenance window","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"put":{"tags":["Maintenance Windows"],"summary":"Update maintenance window associated with devices","description":"Updates all fields of an existing maintenance window","operationId":"updateMaintenanceWindowById","parameters":[{"name":"Date-Format","in":"header","description":"The date format for begin and end dates: UNIX_TIMESTAMP_SECONDS, UNIX_TIMESTAMP_MILLISECONDS, ISO8601_SECONDS, ISO8601_MILLISECONDS","required":false,"schema":{"type":"string","default":"UNIX_TIMESTAMP_MILLISECONDS"}},{"name":"id","in":"path","description":"The id of the maintenance window to be updated","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceWindowDeviceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Maintenance Windows"],"summary":"Delete maintenance window","description":"Deletes an existing maintenance window given its ID","operationId":"deleteMaintenanceWindowById","parameters":[{"name":"__noValidation","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"id","in":"path","description":"The ID of the maintenance window to be deleted","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v2/maintenancewindows/device-group/{id}":{"put":{"tags":["Maintenance Windows"],"operationId":"updateGroupMaintenanceWindow","parameters":[{"name":"Date-Format","in":"header","description":"The date format for begin and end dates: UNIX_TIMESTAMP_SECONDS, UNIX_TIMESTAMP_MILLISECONDS, ISO8601_SECONDS, ISO8601_MILLISECONDS","required":false,"schema":{"type":"string","default":"UNIX_TIMESTAMP_MILLISECONDS"}},{"name":"id","in":"path","description":"The id of the maintenance window to be updated","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceWindowDeviceGroupDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v2/devices/{id}":{"get":{"tags":["Devices"],"summary":"Get device by Id","description":"Gets a single device object by provided Id if it exists","operationId":"getDeviceById","parameters":[{"name":"id","in":"path","description":"The id of the requested device","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"includeObjects","in":"query","description":"Determines whether to include objects of the device","required":false,"schema":{"type":"boolean","default":false}},{"name":"includeIndicators","in":"query","description":"Determines whether to include indicators and objects","required":false,"schema":{"type":"boolean","default":false}},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not. Note that encrypted fields/credentials like username, password related to device for the plugin will not be returned","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceDto_NoMetadata"}}}}}},"put":{"tags":["Devices"],"summary":"Update device","description":"Updates an existing device","operationId":"updateDeviceById","parameters":[{"name":"id","in":"path","description":"The id of the device to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceDto"}}}}}},"delete":{"tags":["Devices"],"summary":"Delete device","description":"Moves device to the deletion queue. If `days_to_delay` in cluster setting is set to 0, device will be deleted immediately in the next discovery. \nSet forceDelete flag to true to force delete device instead of moving it in the queue.","operationId":"deleteDeviceById","parameters":[{"name":"forceDelete","in":"query","description":"Determines whether to force delete device or not (put device in deletion queue).  If `days_to_delay` in cluster setting is set to 0, device will be deleted immediately in the next discovery.","required":false,"schema":{"type":"boolean","default":false}},{"name":"id","in":"path","description":"The id of the device to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"patch":{"tags":["Devices"],"summary":"Partially update device","description":"Partial update an existing device","operationId":"partiallyUpdateDeviceById","parameters":[{"name":"id","in":"path","description":"The id of the device to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceDto"}}}}}}},"/api/v2/devices/{deviceId}/objects/{objectId}/metadata":{"get":{"tags":["Metadata"],"summary":"Get Object Metadata value","description":"This endpoint will get metadata value for entity type (object) and entity id","operationId":"getObjectMetadataValue","parameters":[{"name":"deviceId","in":"path","description":"Device Id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"objectId","in":"path","description":"Object Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"}}}}}}},"put":{"tags":["Metadata"],"summary":"Update Metadata Attributes","description":"This endpoint will delete all metadata values for this object and will create the values provided","operationId":"updateMetadata_1","parameters":[{"name":"deviceId","in":"path","description":"Device Id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"objectId","in":"path","description":"Object Id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"},"description":"Type of the param is `Map<String, AttributeValues>`, the string key consists of 'namespacename.attributename'"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"}}}}}}},"patch":{"tags":["Metadata"],"summary":"Partially update Metadata Attributes","description":"This endpoint will update the provided metadata values for this object","operationId":"partialUpdateMetadata_1","parameters":[{"name":"deviceId","in":"path","description":"Device Id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"objectId","in":"path","description":"Object Id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"},"description":"Type of the param is `Map<String, AttributeValues>`, the string key consists of 'namespacename.attributename'"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"}}}}}}}},"/api/v2/devices/{deviceId}/objects/{objectId}/metadata/{attributeKey}":{"put":{"tags":["Metadata"],"summary":"Update Metadata Attributes","description":"This endpoint will delete all metadata values for this object and attribute and will create the values provided","operationId":"updateMetadataByAttribute_1","parameters":[{"name":"deviceId","in":"path","description":"Device Id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"objectId","in":"path","description":"Object Id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"attributeKey","in":"path","description":"AttributeKey","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeValues"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AttributeValues"}}}}}}}},"/api/v2/devices/{deviceId}/objects/{id}":{"get":{"tags":["Objects"],"summary":"Get object by Id","description":"Gets a single object object by provided Id if it exists","operationId":"getObjectById","parameters":[{"name":"deviceId","in":"path","description":"The id of the device this object belongs to","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","description":"The id of the object","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"includeIndicators","in":"query","description":"Determines whether to include indicators","required":false,"schema":{"type":"boolean","default":false}},{"name":"includeIndicatorMetadata","in":"query","description":"Determines whether to include indicator metadata","required":false,"schema":{"type":"boolean","default":false}},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceObjectDto_IncludeMetadata"}}}}}},"put":{"tags":["Objects"],"summary":"Update object","description":"Updates an existing object","operationId":"updateObjectById","parameters":[{"name":"deviceId","in":"path","description":"The id of the device this object belongs to","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","description":"The id of the object to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceObjectUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceObjectDto"}}}}}},"delete":{"tags":["Objects"],"summary":"Delete object","description":"Deletes an existing object","operationId":"deleteObjectById","parameters":[{"name":"deviceId","in":"path","description":"The id of the device this object belongs to","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","description":"The id of the object to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"patch":{"tags":["Objects"],"summary":"Partially update object","description":"Partially updates an existing object","operationId":"partiallyUpdateObjectById","parameters":[{"name":"deviceId","in":"path","description":"The id of the device this object belongs to","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"path","description":"The id of the object to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceObjectUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceObjectDto"}}}}}}},"/api/v2/devicegroups/{id}":{"get":{"tags":["DeviceGroups"],"summary":"Get device group by Id","description":"Gets a single device group object by provided Id if it exists","operationId":"getDeviceGroupById","parameters":[{"name":"id","in":"path","description":"The id of the requested device group","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"includeMembers","in":"query","description":"Determines whether to include members of device groups","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceGroupDto"}}}}}},"put":{"tags":["DeviceGroups"],"summary":"Update device group","description":"Updates an existing device group","operationId":"updateDeviceGroupById","parameters":[{"name":"id","in":"path","description":"The id of the device group to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceGroupRequestDto_NoMembers"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceGroupDto_NoMembers"}}}}}},"delete":{"tags":["DeviceGroups"],"summary":"Delete device group","description":"Deletes an existing device group","operationId":"deleteDeviceGroupById","parameters":[{"name":"id","in":"path","description":"The id of the device group to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"patch":{"tags":["DeviceGroups"],"summary":"Partially update device group","description":"Updates an existing device group","operationId":"partiallyUpdateDeviceGroupById","parameters":[{"name":"id","in":"path","description":"The id of the device group to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceGroupRequestDto_NoMembers"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceGroupDto_NoMembers"}}}}}}},"/api/v2/devicegroups/rules/{id}":{"get":{"tags":["DeviceGroupRules"],"summary":"Get device group rule by Id","description":"Gets a single device group rule by provided id if it exists","operationId":"getDeviceGroupRule","parameters":[{"name":"id","in":"path","description":"The id of the requested device group rule","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceGroupRuleDto"}}}}}},"put":{"tags":["DeviceGroupRules"],"summary":"Update device group rule","description":"Updates an existing device group rule","operationId":"updateDeviceGroupRule","parameters":[{"name":"id","in":"path","description":"The id of the device group rule to be updated","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceGroupRuleDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceGroupRuleDto"}}}}}},"delete":{"tags":["DeviceGroupRules"],"summary":"Delete de
[...]
